USE [master]
GO
/****** Object:  Database [CareerBridgeDB]    Script Date: 9/30/2026 5:05:42 PM ******/
CREATE DATABASE [CareerBridgeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CareerBridgeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CareerBridgeDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CareerBridgeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CareerBridgeDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CareerBridgeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CareerBridgeDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AdminRole] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[CVID] [int] NOT NULL,
	[ApplicationDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CoverLetter] [nvarchar](max) NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Application_JobSeeker_Job] UNIQUE NONCLUSTERED 
(
	[JobSeekerID] ASC,
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Createddate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[CompanyWebsite] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[CompanyLogo] [nvarchar](500) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Company_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyEmployer]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyEmployer](
	[CompanyEmployerID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyEmployerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CompanyEmployer] UNIQUE NONCLUSTERED 
(
	[CompanyID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NOT NULL,
	[CVTitle] [nvarchar](100) NULL,
	[FilePath] [nvarchar](200) NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CV] PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployerRegistrationRequest]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployerRegistrationRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CompanyID] [int] NULL,
	[CompanyName] [nvarchar](200) NULL,
	[CompanyEmail] [nvarchar](200) NULL,
	[CompanyPhone] [nvarchar](40) NULL,
	[CompanyAddress] [nvarchar](300) NULL,
	[CompanyDescription] [nvarchar](max) NULL,
	[CompanyWebsite] [nvarchar](300) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AdminNote] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewedByUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[JobTitle] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[JobType] [nvarchar](100) NOT NULL,
	[PostedDate] [datetime2](7) NOT NULL,
	[ApplicationDeadline] [datetime2](7) NOT NULL,
	[Status] [bit] NOT NULL,
	[Requirements] [nvarchar](2000) NULL,
	[PostedByUserID] [int] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeeker]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeeker](
	[JobSeekerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Location] [nvarchar](100) NULL,
	[Skills] [nvarchar](max) NULL,
	[Education] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobSeeker] PRIMARY KEY CLUSTERED 
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/30/2026 5:05:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ApprovalStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Application] ADD  CONSTRAINT [DF_Application_ApplicationDate]  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Createddate]  DEFAULT (getdate()) FOR [Createddate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CV] ADD  CONSTRAINT [DF_CV_UploadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[CV] ADD  CONSTRAINT [DF_CV_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest] ADD  CONSTRAINT [DF_EmployerRegistrationRequest_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest] ADD  CONSTRAINT [DF_EmployerRegistrationRequest_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Job] ADD  CONSTRAINT [DF_Job_PostedDate]  DEFAULT (getdate()) FOR [PostedDate]
GO
ALTER TABLE [dbo].[Job] ADD  CONSTRAINT [DF_Job_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ApprovalStatus]  DEFAULT ('Approved') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_CV] FOREIGN KEY([CVID])
REFERENCES [dbo].[CV] ([CVID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_CV]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_Job]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_JobSeeker] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_JobSeeker]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User]
GO
ALTER TABLE [dbo].[CompanyEmployer]  WITH CHECK ADD  CONSTRAINT [FK_CompanyEmployer_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[CompanyEmployer] CHECK CONSTRAINT [FK_CompanyEmployer_Company]
GO
ALTER TABLE [dbo].[CompanyEmployer]  WITH CHECK ADD  CONSTRAINT [FK_CompanyEmployer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[CompanyEmployer] CHECK CONSTRAINT [FK_CompanyEmployer_User]
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_JobSeeker] FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_JobSeeker]
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_EmployerRegistrationRequest_Admin] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest] CHECK CONSTRAINT [FK_EmployerRegistrationRequest_Admin]
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_EmployerRegistrationRequest_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest] CHECK CONSTRAINT [FK_EmployerRegistrationRequest_Company]
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest]  WITH CHECK ADD  CONSTRAINT [FK_EmployerRegistrationRequest_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest] CHECK CONSTRAINT [FK_EmployerRegistrationRequest_User]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Category]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Company] ([CompanyID])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Company]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_PostedByUser] FOREIGN KEY([PostedByUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_PostedByUser]
GO
ALTER TABLE [dbo].[JobSeeker]  WITH CHECK ADD  CONSTRAINT [FK_JobSeeker_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[JobSeeker] CHECK CONSTRAINT [FK_JobSeeker_User]
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest]  WITH CHECK ADD  CONSTRAINT [CK_EmployerRegistrationRequest_Status] CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[EmployerRegistrationRequest] CHECK CONSTRAINT [CK_EmployerRegistrationRequest_Status]
GO
/****** Object:  StoredProcedure [dbo].[uspAdminApplicationSelect]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspAdminApplicationSelect]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        a.ApplicationID,

        CONCAT(
            u.FirstName,
            CASE
                WHEN u.MiddleName IS NOT NULL
                     AND LTRIM(RTRIM(u.MiddleName)) <> ''
                THEN ' ' + u.MiddleName
                ELSE ''
            END,
            CASE
                WHEN u.LastName IS NOT NULL
                     AND LTRIM(RTRIM(u.LastName)) <> ''
                THEN ' ' + u.LastName
                ELSE ''
            END
        ) AS ApplicantName,

        u.Email AS ApplicantEmail,

        j.JobTitle,

        c.CompanyName,

        a.ApplicationDate,

        a.Status

    FROM Application a

    INNER JOIN JobSeeker js
        ON a.JobSeekerID = js.JobSeekerID

    INNER JOIN [User] u
        ON js.UserID = u.UserID

    INNER JOIN Job j
        ON a.JobID = j.JobID

    INNER JOIN Company c
        ON j.CompanyID = c.CompanyID

    ORDER BY a.ApplicationDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspAdminDashboardSelect]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspAdminDashboardSelect]
AS
BEGIN
    SET NOCOUNT ON;

    -- ==========================================
    -- RESULT SET 1: ADMIN DASHBOARD STATISTICS
    -- ==========================================

    SELECT
        (
            SELECT COUNT(*)
            FROM [User]
        ) AS TotalUsers,

        (
            SELECT COUNT(*)
            FROM [User]
            WHERE Role IN ('JobSeeker', 'Job seeker')
        ) AS TotalJobSeekers,

        (
            SELECT COUNT(*)
            FROM [User]
            WHERE Role = 'Employer'
        ) AS TotalEmployers,

        (
            SELECT COUNT(*)
            FROM Company
        ) AS TotalCompanies,

        (
            SELECT COUNT(*)
            FROM Job
            WHERE Status = 1
        ) AS ActiveJobs,

        (
            SELECT COUNT(*)
            FROM Application
        ) AS TotalApplications;


    -- ==========================================
    -- RESULT SET 2: FIVE MOST RECENT USERS
    -- ==========================================

    SELECT TOP 5
        UserID,
        FirstName,
        MiddleName,
        LastName,
        Email,
        Role,
        IsActive,
        CreatedOn
    FROM [User]
    ORDER BY CreatedOn DESC;


    -- ==========================================
    -- RESULT SET 3: FIVE MOST RECENT JOBS
    -- ==========================================

    SELECT TOP 5
        j.JobID,
        j.JobTitle,
        c.CompanyName,
        j.Location,
        j.JobType,
        j.PostedDate,
        j.ApplicationDeadline,
        j.Status
    FROM Job j
    INNER JOIN Company c
        ON j.CompanyID = c.CompanyID
    ORDER BY j.PostedDate DESC;

END;
GO
/****** Object:  StoredProcedure [dbo].[uspAdminEmployerApproval]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------SELECT
----------    OBJECT_SCHEMA_NAME(object_id) AS SchemaName,
----------    OBJECT_NAME(object_id) AS ProcedureName,
----------    definition
----------FROM sys.sql_modules
----------WHERE definition LIKE '%50003%'
----------   OR definition LIKE '%50006%'
----------   OR definition LIKE '%50007%'
----------   OR definition LIKE '%50008%'
----------   OR definition LIKE '%50009%'
----------   OR definition LIKE '%50010%';

----------   SELECT----CREATE OR ALTER PROCEDURE dbo.uspAdminUserStatusUpdate
--------------    @UserID INT,
--------------    @IsActive BIT
--------------AS
--------------BEGIN
--------------    SET NOCOUNT ON;

--------------    UPDATE [User]
--------------    SET IsActive = @IsActive
--------------    WHERE UserID = @UserID;

--------------    IF @@ROWCOUNT = 0
--------------    BEGIN
--------------        SELECT
--------------            CAST(0 AS BIT) AS Success,
--------------            'User not found.' AS Message;
--------------        RETURN;
--------------    END;

--------------    SELECT
--------------        CAST(1 AS BIT) AS Success,
--------------        'User status updated successfully.' AS Message;
--------------END;



--------------SELECT
--------------    u.UserID,
--------------    u.FirstName,
--------------    u.LastName,
--------------    u.Email,
--------------    u.Role,
--------------    u.ApprovalStatus,
--------------    c.CompanyID,
--------------    c.CompanyName
--------------FROM [User] u
--------------LEFT JOIN Company c
--------------    ON c.UserID = u.UserID
--------------WHERE u.Role = 'Employer'
--------------ORDER BY u.UserID DESC;

--------------SELECT *
--------------FROM Company
--------------ORDER BY CompanyID DESC;

--------------SELECT
--------------    UserID,
--------------    FirstName,
--------------    LastName,
--------------    Email,
--------------    Role,
--------------    ApprovalStatus,
--------------    IsActive
--------------FROM [User]
--------------WHERE Role = 'Employer'
--------------ORDER BY UserID DESC;

--------------SELECT *
--------------FROM EmployerRegistrationRequest
--------------ORDER BY RequestID DESC;

------------CREATE OR ALTER PROCEDURE dbo.uspAdminUserSelect
------------AS
------------BEGIN
------------    SET NOCOUNT ON;

------------    SELECT
------------        u.UserID,
------------        u.FirstName,
------------        u.MiddleName,
------------        u.LastName,
------------        u.Email,
------------        u.Phone,
------------        u.Role,
------------        u.IsActive,
------------        u.ApprovalStatus,

------------        -- Company information
------------        COALESCE(
------------            er.CompanyName,
------------            c.CompanyName
------------        ) AS CompanyName,

------------        COALESCE(
------------            er.CompanyEmail,
------------            c.Email
------------        ) AS CompanyEmail,

------------        COALESCE(
------------            er.CompanyPhone,
------------            c.Phone
------------        ) AS CompanyPhone,

------------        COALESCE(
------------            er.CompanyAddress,
------------            c.Address
------------        ) AS CompanyAddress,

------------        er.RequestID,
------------        er.Status AS RegistrationStatus,
------------        er.AdminNote,
------------        er.CreatedAt AS RegistrationCreatedAt

------------    FROM [User] u

------------    -- Latest employer registration request
------------    LEFT JOIN EmployerRegistrationRequest er
------------        ON er.RequestID = (
------------            SELECT TOP 1 er2.RequestID
------------            FROM EmployerRegistrationRequest er2
------------            WHERE er2.UserID = u.UserID
------------            ORDER BY er2.CreatedAt DESC
------------        )

------------    -- Existing company selected during registration
------------    LEFT JOIN Company c
------------        ON c.CompanyID = er.CompanyID

------------    ORDER BY u.UserID DESC;
------------END;

------------EXEC dbo.uspAdminUserSelect;

----------CREATE OR ALTER PROCEDURE dbo.uspAdminUserSelect
----------AS
----------BEGIN
----------    SET NOCOUNT ON;

----------    SELECT
----------        u.UserID,
----------        u.FirstName,
----------        u.MiddleName,
----------        u.LastName,
----------        u.Email,
----------        u.Phone,
----------        u.Role,
----------        u.IsActive,
----------        u.ApprovalStatus,

----------        -- Company name
----------        COALESCE(
----------            er.CompanyName,
----------            cRequest.CompanyName,
----------            cDirect.CompanyName
----------        ) AS CompanyName,

----------        -- Company email
----------        COALESCE(
----------            er.CompanyEmail,
----------            cRequest.Email,
----------            cDirect.Email
----------        ) AS CompanyEmail,

----------        -- Company phone
----------        COALESCE(
----------            er.CompanyPhone,
----------            cRequest.Phone,
----------            cDirect.Phone
----------        ) AS CompanyPhone,

----------        -- Company address
----------        COALESCE(
----------            er.CompanyAddress,
----------            cRequest.Address,
----------            cDirect.Address
----------        ) AS CompanyAddress,

----------        er.RequestID,
----------        er.Status AS RegistrationStatus,
----------        er.AdminNote,
----------        er.CreatedAt AS RegistrationCreatedAt

----------    FROM [User] u

----------    -- Latest employer registration request
----------    LEFT JOIN EmployerRegistrationRequest er
----------        ON er.RequestID = (
----------            SELECT TOP 1 er2.RequestID
----------            FROM EmployerRegistrationRequest er2
----------            WHERE er2.UserID = u.UserID
----------            ORDER BY er2.CreatedAt DESC
----------        )

----------    -- Company selected during registration
----------    LEFT JOIN Company cRequest
----------        ON cRequest.CompanyID = er.CompanyID

----------    -- Direct company ownership used by older employers
----------    LEFT JOIN Company cDirect
----------        ON cDirect.UserID = u.UserID

----------    ORDER BY u.UserID DESC;
----------END;

----------EXEC dbo.uspAdminUserSelect;
----------    SCHEMA_NAME(schema_id) AS SchemaName,
----------    name AS ProcedureName
----------FROM sys.procedures
----------ORDER BY name;

--------SELECT
--------    COLUMN_NAME,
--------    DATA_TYPE
--------FROM INFORMATION_SCHEMA.COLUMNS
--------WHERE TABLE_NAME = 'EmployerRegistrationRequest'
--------ORDER BY ORDINAL_POSITION;

--------SELECT TABLE_SCHEMA, TABLE_NAME
--------FROM INFORMATION_SCHEMA.TABLES
--------WHERE TABLE_NAME LIKE '%Employer%'
--------ORDER BY TABLE_NAME;

--------use CareerBridgeDB

--------SELECT
--------    COLUMN_NAME,
--------    DATA_TYPE
--------FROM INFORMATION_SCHEMA.COLUMNS
--------WHERE TABLE_NAME = 'Company'
--------ORDER BY ORDINAL_POSITION;

------CREATE OR ALTER PROCEDURE dbo.uspAdminEmployerApproval
------    @UserID INT,
------    @Decision NVARCHAR(20),
------    @AdminNote NVARCHAR(500) = NULL,
------    @ReviewedByUserID INT
------AS
------BEGIN
------    SET NOCOUNT ON;
------    SET XACT_ABORT ON;

------    BEGIN TRY

------        BEGIN TRANSACTION;

------        DECLARE
------            @RequestID INT,
------            @CompanyID INT,
------            @CompanyName NVARCHAR(255),
------            @CompanyEmail NVARCHAR(255),
------            @CompanyPhone NVARCHAR(50),
------            @CompanyAddress NVARCHAR(500),
------            @CompanyDescription NVARCHAR(MAX),
------            @CompanyWebsite NVARCHAR(500);

------        -- Get the latest registration request
------        SELECT TOP 1
------            @RequestID = RequestID,
------            @CompanyID = CompanyID,
------            @CompanyName = CompanyName,
------            @CompanyEmail = CompanyEmail,
------            @CompanyPhone = CompanyPhone,
------            @CompanyAddress = CompanyAddress,
------            @CompanyDescription = CompanyDescription,
------            @CompanyWebsite = CompanyWebsite
------        FROM EmployerRegistrationRequest
------        WHERE UserID = @UserID
------        ORDER BY CreatedAt DESC;

------        -- Make sure the employer exists
------        IF NOT EXISTS (
------            SELECT 1
------            FROM [User]
------            WHERE UserID = @UserID
------              AND Role = 'Employer'
------        )
------        BEGIN
------            ROLLBACK TRANSACTION;

------            SELECT
------                CAST(0 AS BIT) AS Success,
------                'Employer not found.' AS Message;

------            RETURN;
------        END;

------        -- Make sure there is a registration request
------        IF @RequestID IS NULL
------        BEGIN
------            ROLLBACK TRANSACTION;

------            SELECT
------                CAST(0 AS BIT) AS Success,
------                'Employer registration request not found.' AS Message;

------            RETURN;
------        END;

------        -- APPROVE
------        IF @Decision = 'Approved'
------        BEGIN

------            -- If this is a NEW company, create it
------            IF @CompanyID IS NULL
------            BEGIN
------                INSERT INTO Company
------                (
------                    CompanyName,
------                    Email,
------                    Phone,
------                    Address,
------                    Description,
------                    CompanyWebsite,
------                    CreatedDate,
------                    Status,
------                    UserID
------                )
------                VALUES
------                (
------                    @CompanyName,
------                    @CompanyEmail,
------                    @CompanyPhone,
------                    @CompanyAddress,
------                    @CompanyDescription,
------                    @CompanyWebsite,
------                    GETDATE(),
------                    1,
------                    @UserID
------                );

------                SET @CompanyID = SCOPE_IDENTITY();

------                -- Save the newly created company ID
------                UPDATE EmployerRegistrationRequest
------                SET CompanyID = @CompanyID
------                WHERE RequestID = @RequestID;
------            END;

------            -- Activate and approve employer
------            UPDATE [User]
------            SET
------                ApprovalStatus = 'Approved',
------                IsActive = 1
------            WHERE UserID = @UserID;

------            -- Update registration request
------            UPDATE EmployerRegistrationRequest
------            SET
------                Status = 'Approved',
------                AdminNote = @AdminNote,
------                ReviewedAt = GETDATE(),
------                ReviewedByUserID = @ReviewedByUserID
------            WHERE RequestID = @RequestID;

------            COMMIT TRANSACTION;

------            SELECT
------                CAST(1 AS BIT) AS Success,
------                'Employer approved successfully.' AS Message;

------            RETURN;
------        END;

------        -- REJECT
------        IF @Decision = 'Rejected'
------        BEGIN

------            UPDATE [User]
------            SET
------                ApprovalStatus = 'Rejected',
------                IsActive = 0
------            WHERE UserID = @UserID;

------            UPDATE EmployerRegistrationRequest
------            SET
------                Status = 'Rejected',
------                AdminNote = @AdminNote,
------                ReviewedAt = GETDATE(),
------                ReviewedByUserID = @ReviewedByUserID
------            WHERE RequestID = @RequestID;

------            COMMIT TRANSACTION;

------            SELECT
------                CAST(1 AS BIT) AS Success,
------                'Employer rejected successfully.' AS Message;

------            RETURN;
------        END;

------        ROLLBACK TRANSACTION;

------        SELECT
------            CAST(0 AS BIT) AS Success,
------            'Invalid decision. Use Approved or Rejected.' AS Message;

------    END TRY
------    BEGIN CATCH

------        IF @@TRANCOUNT > 0
------            ROLLBACK TRANSACTION;

------        THROW;

------    END CATCH;
------END;

----EXEC dbo.uspAdminEmployerApproval
----    @UserID = 1040,
----    @Decision = 'Approved',
----    @AdminNote = 'Approved by administrator.',
----    @ReviewedByUserID = 1;

--SELECT
--    u.UserID,
--    u.FirstName,
--    u.LastName,
--    u.Email,
--    u.Role,
--    u.ApprovalStatus,
--    u.IsActive,
--    er.RequestID,
--    er.CompanyID AS RequestedCompanyID,
--    er.CompanyName AS RequestedCompanyName,
--    er.Status AS RegistrationStatus,
--    c.CompanyID,
--    c.CompanyName,
--    c.UserID AS CompanyUserID
--FROM [User] u
--LEFT JOIN EmployerRegistrationRequest er
--    ON er.RequestID = (
--        SELECT TOP 1 er2.RequestID
--        FROM EmployerRegistrationRequest er2
--        WHERE er2.UserID = u.UserID
--        ORDER BY er2.CreatedAt DESC
--    )
--LEFT JOIN Company c
--    ON c.CompanyID = er.CompanyID
--WHERE u.Role = 'Employer'
--  AND u.ApprovalStatus = 'Approved'
--ORDER BY u.UserID DESC;

CREATE   PROCEDURE [dbo].[uspAdminEmployerApproval]
    @UserID INT,
    @Decision NVARCHAR(20),
    @AdminNote NVARCHAR(500) = NULL,
    @ReviewedByUserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        DECLARE
            @RequestID INT,
            @CompanyID INT,
            @CompanyName NVARCHAR(255),
            @CompanyEmail NVARCHAR(255),
            @CompanyPhone NVARCHAR(50),
            @CompanyAddress NVARCHAR(500),
            @CompanyDescription NVARCHAR(MAX),
            @CompanyWebsite NVARCHAR(500);

        -- Get latest registration request
        SELECT TOP 1
            @RequestID = RequestID,
            @CompanyID = CompanyID,
            @CompanyName = CompanyName,
            @CompanyEmail = CompanyEmail,
            @CompanyPhone = CompanyPhone,
            @CompanyAddress = CompanyAddress,
            @CompanyDescription = CompanyDescription,
            @CompanyWebsite = CompanyWebsite
        FROM EmployerRegistrationRequest
        WHERE UserID = @UserID
        ORDER BY CreatedAt DESC;

        -- Check employer exists
        IF NOT EXISTS (
            SELECT 1
            FROM [User]
            WHERE UserID = @UserID
              AND Role = 'Employer'
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                CAST(0 AS BIT) AS Success,
                'Employer not found.' AS Message;

            RETURN;
        END;

        -- Check registration request exists
        IF @RequestID IS NULL
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                CAST(0 AS BIT) AS Success,
                'Employer registration request not found.' AS Message;

            RETURN;
        END;


        -- ==========================================
        -- APPROVE
        -- ==========================================

        IF @Decision = 'Approved'
        BEGIN

            -- --------------------------------------
            -- Create company if this is a new company
            -- --------------------------------------

            IF @CompanyID IS NULL
            BEGIN

                INSERT INTO Company
                (
                    CompanyName,
                    Email,
                    Phone,
                    Address,
                    Description,
                    CompanyWebsite,
                    CreatedDate,
                    Status,
                    UserID
                )
                VALUES
                (
                    @CompanyName,
                    @CompanyEmail,
                    @CompanyPhone,
                    @CompanyAddress,
                    @CompanyDescription,
                    @CompanyWebsite,
                    GETDATE(),
                    1,
                    @UserID
                );

                SET @CompanyID = SCOPE_IDENTITY();

                -- Save company ID into registration request
                UPDATE EmployerRegistrationRequest
                SET CompanyID = @CompanyID
                WHERE RequestID = @RequestID;

            END;


            -- --------------------------------------
            -- Create employer-company relationship
            -- --------------------------------------

            IF NOT EXISTS
            (
                SELECT 1
                FROM CompanyEmployer
                WHERE UserID = @UserID
                  AND CompanyID = @CompanyID
            )
            BEGIN

                INSERT INTO CompanyEmployer
                (
                    UserID,
                    CompanyID
                )
                VALUES
                (
                    @UserID,
                    @CompanyID
                );

            END;


            -- --------------------------------------
            -- Approve and activate employer
            -- --------------------------------------

            UPDATE [User]
            SET
                ApprovalStatus = 'Approved',
                IsActive = 1
            WHERE UserID = @UserID;


            -- --------------------------------------
            -- Update registration request
            -- --------------------------------------

            UPDATE EmployerRegistrationRequest
            SET
                Status = 'Approved',
                AdminNote = @AdminNote,
                ReviewedAt = GETDATE(),
                ReviewedByUserID = @ReviewedByUserID
            WHERE RequestID = @RequestID;


            COMMIT TRANSACTION;

            SELECT
                CAST(1 AS BIT) AS Success,
                'Employer approved successfully.' AS Message;

            RETURN;
        END;


        -- ==========================================
        -- REJECT
        -- ==========================================

        IF @Decision = 'Rejected'
        BEGIN

            UPDATE [User]
            SET
                ApprovalStatus = 'Rejected',
                IsActive = 0
            WHERE UserID = @UserID;


            UPDATE EmployerRegistrationRequest
            SET
                Status = 'Rejected',
                AdminNote = @AdminNote,
                ReviewedAt = GETDATE(),
                ReviewedByUserID = @ReviewedByUserID
            WHERE RequestID = @RequestID;


            COMMIT TRANSACTION;

            SELECT
                CAST(1 AS BIT) AS Success,
                'Employer rejected successfully.' AS Message;

            RETURN;
        END;


        -- ==========================================
        -- INVALID DECISION
        -- ==========================================

        ROLLBACK TRANSACTION;

        SELECT
            CAST(0 AS BIT) AS Success,
            'Invalid decision. Use Approved or Rejected.' AS Message;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;

    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspAdminJobClose]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspAdminJobClose]
    @JobID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Job
    SET Status = 0
    WHERE JobID = @JobID
      AND Status = 1;

    IF @@ROWCOUNT = 0
    BEGIN
        SELECT
            CAST(0 AS BIT) AS Success,
            'Job not found or job is already closed.' AS Message;
        RETURN;
    END;

    SELECT
        CAST(1 AS BIT) AS Success,
        'Job closed successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspAdminJobSelect]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspAdminJobSelect]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        j.JobID,
        j.JobTitle,
        c.CompanyName,
        j.Location,
        j.JobType,
        j.PostedDate,
        j.ApplicationDeadline,
        j.Status
    FROM Job j
    INNER JOIN Company c
        ON j.CompanyID = c.CompanyID
    ORDER BY j.PostedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspAdminUserSelect]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----CREATE OR ALTER PROCEDURE dbo.uspAdminUserStatusUpdate
----    @UserID INT,
----    @IsActive BIT
----AS
----BEGIN
----    SET NOCOUNT ON;

----    UPDATE [User]
----    SET IsActive = @IsActive
----    WHERE UserID = @UserID;

----    IF @@ROWCOUNT = 0
----    BEGIN
----        SELECT
----            CAST(0 AS BIT) AS Success,
----            'User not found.' AS Message;
----        RETURN;
----    END;

----    SELECT
----        CAST(1 AS BIT) AS Success,
----        'User status updated successfully.' AS Message;
----END;



----SELECT
----    u.UserID,
----    u.FirstName,
----    u.LastName,
----    u.Email,
----    u.Role,
----    u.ApprovalStatus,
----    c.CompanyID,
----    c.CompanyName
----FROM [User] u
----LEFT JOIN Company c
----    ON c.UserID = u.UserID
----WHERE u.Role = 'Employer'
----ORDER BY u.UserID DESC;

----SELECT *
----FROM Company
----ORDER BY CompanyID DESC;

----SELECT
----    UserID,
----    FirstName,
----    LastName,
----    Email,
----    Role,
----    ApprovalStatus,
----    IsActive
----FROM [User]
----WHERE Role = 'Employer'
----ORDER BY UserID DESC;

----SELECT *
----FROM EmployerRegistrationRequest
----ORDER BY RequestID DESC;

--CREATE OR ALTER PROCEDURE dbo.uspAdminUserSelect
--AS
--BEGIN
--    SET NOCOUNT ON;

--    SELECT
--        u.UserID,
--        u.FirstName,
--        u.MiddleName,
--        u.LastName,
--        u.Email,
--        u.Phone,
--        u.Role,
--        u.IsActive,
--        u.ApprovalStatus,

--        -- Company information
--        COALESCE(
--            er.CompanyName,
--            c.CompanyName
--        ) AS CompanyName,

--        COALESCE(
--            er.CompanyEmail,
--            c.Email
--        ) AS CompanyEmail,

--        COALESCE(
--            er.CompanyPhone,
--            c.Phone
--        ) AS CompanyPhone,

--        COALESCE(
--            er.CompanyAddress,
--            c.Address
--        ) AS CompanyAddress,

--        er.RequestID,
--        er.Status AS RegistrationStatus,
--        er.AdminNote,
--        er.CreatedAt AS RegistrationCreatedAt

--    FROM [User] u

--    -- Latest employer registration request
--    LEFT JOIN EmployerRegistrationRequest er
--        ON er.RequestID = (
--            SELECT TOP 1 er2.RequestID
--            FROM EmployerRegistrationRequest er2
--            WHERE er2.UserID = u.UserID
--            ORDER BY er2.CreatedAt DESC
--        )

--    -- Existing company selected during registration
--    LEFT JOIN Company c
--        ON c.CompanyID = er.CompanyID

--    ORDER BY u.UserID DESC;
--END;

--EXEC dbo.uspAdminUserSelect;

CREATE   PROCEDURE [dbo].[uspAdminUserSelect]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.UserID,
        u.FirstName,
        u.MiddleName,
        u.LastName,
        u.Email,
        u.Phone,
        u.Role,
        u.IsActive,
        u.ApprovalStatus,

        -- Company name
        COALESCE(
            er.CompanyName,
            cRequest.CompanyName,
            cDirect.CompanyName
        ) AS CompanyName,

        -- Company email
        COALESCE(
            er.CompanyEmail,
            cRequest.Email,
            cDirect.Email
        ) AS CompanyEmail,

        -- Company phone
        COALESCE(
            er.CompanyPhone,
            cRequest.Phone,
            cDirect.Phone
        ) AS CompanyPhone,

        -- Company address
        COALESCE(
            er.CompanyAddress,
            cRequest.Address,
            cDirect.Address
        ) AS CompanyAddress,

        er.RequestID,
        er.Status AS RegistrationStatus,
        er.AdminNote,
        er.CreatedAt AS RegistrationCreatedAt

    FROM [User] u

    -- Latest employer registration request
    LEFT JOIN EmployerRegistrationRequest er
        ON er.RequestID = (
            SELECT TOP 1 er2.RequestID
            FROM EmployerRegistrationRequest er2
            WHERE er2.UserID = u.UserID
            ORDER BY er2.CreatedAt DESC
        )

    -- Company selected during registration
    LEFT JOIN Company cRequest
        ON cRequest.CompanyID = er.CompanyID

    -- Direct company ownership used by older employers
    LEFT JOIN Company cDirect
        ON cDirect.UserID = u.UserID

    ORDER BY u.UserID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspAdminUserStatusUpdate]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspAdminUserStatusUpdate]
    @UserID INT,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [User]
    SET IsActive = @IsActive
    WHERE UserID = @UserID;

    IF @@ROWCOUNT = 0
    BEGIN
        SELECT
            CAST(0 AS BIT) AS Success,
            'User not found.' AS Message;
        RETURN;
    END;

    SELECT
        CAST(1 AS BIT) AS Success,
        'User status updated successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspEmployerDashboard]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspEmployerDashboard]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CompanyID INT;

    SELECT @CompanyID = CompanyID
    FROM CompanyEmployer
    WHERE UserID = @UserID;

    IF @CompanyID IS NULL
    BEGIN
        SELECT
            0 AS TotalJobs,
            0 AS OpenJobs,
            0 AS TotalApplications;

        RETURN;
    END;

    SELECT
        COUNT(DISTINCT J.JobID) AS TotalJobs,

        COUNT(
            DISTINCT CASE
                WHEN J.Status = 1
                AND (
                    J.ApplicationDeadline IS NULL
                    OR J.ApplicationDeadline >= CAST(GETDATE() AS DATE)
                )
                THEN J.JobID
            END
        ) AS OpenJobs,

        COUNT(A.ApplicationID) AS TotalApplications

    FROM Job J

    LEFT JOIN Application A
        ON J.JobID = A.JobID

    WHERE J.CompanyID = @CompanyID;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspEmployerJobs]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspEmployerJobs]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CompanyID INT;

    -- Find the employer's company
    SELECT @CompanyID = CompanyID
    FROM CompanyEmployer
    WHERE UserID = @UserID;

    IF @CompanyID IS NULL
    BEGIN
        SELECT
            0 AS Success,
            'Company profile not found for this employer.' AS Message;

        RETURN;
    END;

    SELECT
        J.JobID,
        J.CompanyID,
        J.CategoryID,
        J.JobTitle,
        J.Description,
        J.Location,
        J.JobType,
        J.PostedDate,
        J.ApplicationDeadline,
        J.Status,
        J.Requirements,
        J.PostedByUserID,

        C.CategoryName,
        CO.CompanyName,

        U.FirstName + ' ' + U.LastName AS PostedByName,

        COUNT(A.ApplicationID) AS applicationCount

    FROM Job J

    INNER JOIN Category C
        ON J.CategoryID = C.CategoryID

    INNER JOIN Company CO
        ON J.CompanyID = CO.CompanyID

    LEFT JOIN [User] U
        ON J.PostedByUserID = U.UserID

    LEFT JOIN Application A
        ON J.JobID = A.JobID

    WHERE J.CompanyID = @CompanyID

    GROUP BY
        J.JobID,
        J.CompanyID,
        J.CategoryID,
        J.JobTitle,
        J.Description,
        J.Location,
        J.JobType,
        J.PostedDate,
        J.ApplicationDeadline,
        J.Status,
        J.Requirements,
        J.PostedByUserID,
        C.CategoryName,
        CO.CompanyName,
        U.FirstName,
        U.LastName

    ORDER BY J.PostedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspGetJobApplicants]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspGetJobApplicants]
    @JobID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- =====================================================
    -- CHECK THAT THE JOB BELONGS TO THE LOGGED-IN EMPLOYER
    -- =====================================================

    SELECT
        J.JobID,
        J.JobTitle,
        J.Location,
        J.PostedDate,
        C.CompanyID,
        C.CompanyName
    INTO #EmployerJob
    FROM Job J
    INNER JOIN Company C
        ON J.CompanyID = C.CompanyID
    WHERE J.JobID = @JobID
      AND C.UserID = @UserID;

    -- If the job does not belong to this employer
    IF NOT EXISTS (SELECT 1 FROM #EmployerJob)
    BEGIN
        DROP TABLE #EmployerJob;

        SELECT
            CAST(0 AS BIT) AS Success,
            'Job not found or you are not authorized to view its applicants' AS Message;

        RETURN;
    END;

    -- =====================================================
    -- RETURN JOB INFORMATION
    -- =====================================================

    SELECT
        JobID,
        JobTitle,
        Location,
        PostedDate,
        CompanyID,
        CompanyName
    FROM #EmployerJob;

    -- =====================================================
    -- RETURN APPLICANTS
    -- =====================================================

    SELECT
        A.ApplicationID AS applicationId,
        A.Status AS status,
        A.ApplicationDate AS appliedOn,
        A.CoverLetter AS coverLetter,

        JS.JobSeekerID AS jobSeekerId,

        U.UserID AS userId,
        U.FirstName AS firstName,
        U.LastName AS lastName,
        U.Email AS email,
        U.Phone AS phone,

        JS.Location AS location,
        JS.Skills AS skills,
        JS.Education AS education,

        CV.CVID AS cvId,
        CV.CVTitle AS cvTitle,
        CV.FilePath AS cvFilePath,
        CV.UploadDate AS cvUploadDate

    FROM Application A

    INNER JOIN JobSeeker JS
        ON A.JobSeekerID = JS.JobSeekerID

    INNER JOIN [User] U
        ON JS.UserID = U.UserID

    LEFT JOIN CV
        ON A.CVID = CV.CVID

    WHERE A.JobID = @JobID

    ORDER BY A.ApplicationDate DESC;

    DROP TABLE #EmployerJob;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspJobApplicants]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspJobApplicants]
    @UserID INT,
    @JobID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CompanyID INT;

    -- Find the company belonging to the logged-in employer
    SELECT @CompanyID = CompanyID
    FROM Company
    WHERE UserID = @UserID;

    -- Make sure the employer has a company
    IF @CompanyID IS NULL
    BEGIN
        SELECT
            0 AS Success,
            'Company profile not found for this employer.' AS Message;

        RETURN;
    END;

    -- Make sure the job belongs to this employer's company
    IF NOT EXISTS (
        SELECT 1
        FROM Job
        WHERE JobID = @JobID
            AND CompanyID = @CompanyID
    )
    BEGIN
        SELECT
            0 AS Success,
            'You are not authorized to view applicants for this job.' AS Message;

        RETURN;
    END;

    -- Return applicants for the employer's job
    SELECT
        A.ApplicationID,
        A.JobID,

        U.UserID AS JobSeekerUserID,
        U.FirstName,
        U.LastName,
        U.Email,

        JS.Phone,
        JS.Location,
        JS.Skills,
        JS.Education,

        A.CVID,
        CV.CVTitle,
        CV.FilePath,

        A.CoverLetter,
        A.Status,
        A.ApplicationDate

    FROM Application A

    INNER JOIN Job J
        ON A.JobID = J.JobID

    INNER JOIN JobSeeker JS
        ON A.JobSeekerID = JS.JobSeekerID

    INNER JOIN [User] U
        ON JS.UserID = U.UserID

    LEFT JOIN CV
        ON A.CVID = CV.CVID

    WHERE A.JobID = @JobID
        AND J.CompanyID = @CompanyID

    ORDER BY A.ApplicationDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspJobClose]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspJobClose]
    @JobID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CompanyID INT;

    -- Find the company belonging to the authenticated employer
    SELECT @CompanyID = CompanyID
    FROM CompanyEmployer
    WHERE UserID = @UserID;

    -- 50010: authenticated user/company relationship not found
    IF @CompanyID IS NULL
    BEGIN
        THROW 50010, 'User not found or company profile not found for this employer.', 1;
    END;

    -- Job does not belong to this employer's company
    IF NOT EXISTS
    (
        SELECT 1
        FROM Job
        WHERE JobID = @JobID
          AND CompanyID = @CompanyID
    )
    BEGIN
        THROW 50003, 'You are not authorized to manage this job.', 1;
    END;

    -- Job belongs to company, but was posted by another employer
    IF NOT EXISTS
    (
        SELECT 1
        FROM Job
        WHERE JobID = @JobID
          AND CompanyID = @CompanyID
          AND PostedByUserID = @UserID
    )
    BEGIN
        THROW 50003, 'You are not authorized to manage this job.', 1;
    END;

    -- 50006: job already closed
    IF EXISTS
    (
        SELECT 1
        FROM Job
        WHERE JobID = @JobID
          AND Status = 0
    )
    BEGIN
        THROW 50006, 'This job is closed or the application deadline has expired.', 1;
    END;

    -- Also treat an expired deadline as closed/expired
    IF EXISTS
    (
        SELECT 1
        FROM Job
        WHERE JobID = @JobID
          AND ApplicationDeadline < CAST(GETDATE() AS DATE)
    )
    BEGIN
        THROW 50006, 'This job is closed or the application deadline has expired.', 1;
    END;

    UPDATE Job
    SET Status = 0
    WHERE JobID = @JobID
      AND CompanyID = @CompanyID
      AND PostedByUserID = @UserID;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspJobCreate]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspJobCreate]
    @UserID INT,
    @CategoryID INT,
    @JobTitle NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Location NVARCHAR(200),
    @JobType NVARCHAR(100),
    @ApplicationDeadline DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CompanyID INT;

    -- Find the company linked to the logged-in employer
    SELECT @CompanyID = CompanyID
    FROM CompanyEmployer
    WHERE UserID = @UserID;

    -- Make sure employer belongs to a company
    IF @CompanyID IS NULL
    BEGIN
        SELECT
            0 AS Success,
            'Company profile not found for this employer.' AS Message;
        RETURN;
    END;

    -- Validate category
    IF @CategoryID IS NULL
    BEGIN
        SELECT
            0 AS Success,
            'Job category is required.' AS Message;
        RETURN;
    END;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Category
        WHERE CategoryID = @CategoryID
          AND Status = 1
    )
    BEGIN
        SELECT
            0 AS Success,
            'Invalid or inactive job category.' AS Message;
        RETURN;
    END;

    -- Validate fields
    IF @JobTitle IS NULL OR LTRIM(RTRIM(@JobTitle)) = ''
    BEGIN
        SELECT
            0 AS Success,
            'Job title is required.' AS Message;
        RETURN;
    END;

    IF @Description IS NULL OR LTRIM(RTRIM(@Description)) = ''
    BEGIN
        SELECT
            0 AS Success,
            'Job description is required.' AS Message;
        RETURN;
    END;

    IF @Location IS NULL OR LTRIM(RTRIM(@Location)) = ''
    BEGIN
        SELECT
            0 AS Success,
            'Job location is required.' AS Message;
        RETURN;
    END;

    IF @JobType IS NULL OR LTRIM(RTRIM(@JobType)) = ''
    BEGIN
        SELECT
            0 AS Success,
            'Job type is required.' AS Message;
        RETURN;
    END;

    IF @ApplicationDeadline IS NULL
    BEGIN
        SELECT
            0 AS Success,
            'Application deadline is required.' AS Message;
        RETURN;
    END;

    -- Prevent past deadline
    IF @ApplicationDeadline < CAST(GETDATE() AS DATE)
    BEGIN
        SELECT
            0 AS Success,
            'Application deadline cannot be in the past.' AS Message;
        RETURN;
    END;

    -- Create job
    INSERT INTO Job
    (
        CompanyID,
        CategoryID,
        JobTitle,
        Description,
        Location,
        JobType,
        PostedDate,
        ApplicationDeadline,
        Status,
        PostedByUserID
    )
    VALUES
    (
        @CompanyID,
        @CategoryID,
        @JobTitle,
        @Description,
        @Location,
        @JobType,
        GETDATE(),
        @ApplicationDeadline,
        1,
        @UserID
    );

    SELECT
        1 AS Success,
        'Job posted successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspJobsGet]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[uspJobsGet]
    @Search NVARCHAR(200) = NULL,
    @Location NVARCHAR(200) = NULL,
    @JobType NVARCHAR(100) = NULL,
    @CategoryID INT = NULL,
    @Status BIT = NULL,
    @Sort NVARCHAR(30) = 'newest'
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        j.JobID,
        j.CompanyID,
        j.CategoryID,
        j.JobTitle,
        j.Description,
        j.Location,
        j.JobType,
        j.PostedDate,
        j.ApplicationDeadline,
        j.Status,
        c.CompanyName,
        cat.CategoryName
    FROM Job j

    INNER JOIN Company c
        ON j.CompanyID = c.CompanyID

    INNER JOIN Category cat
        ON j.CategoryID = cat.CategoryID

    WHERE
        (
            @Search IS NULL
            OR LTRIM(RTRIM(@Search)) = ''
            OR j.JobTitle LIKE '%' + @Search + '%'
            OR j.Description LIKE '%' + @Search + '%'
            OR j.Location LIKE '%' + @Search + '%'
            OR c.CompanyName LIKE '%' + @Search + '%'
            OR cat.CategoryName LIKE '%' + @Search + '%'
        )

        AND
        (
            @Location IS NULL
            OR LTRIM(RTRIM(@Location)) = ''
            OR j.Location LIKE '%' + @Location + '%'
        )

        AND
        (
            @JobType IS NULL
            OR LTRIM(RTRIM(@JobType)) = ''
            OR j.JobType = @JobType
        )

        AND
        (
            @CategoryID IS NULL
            OR j.CategoryID = @CategoryID
        )

        AND
        (
            @Status IS NULL
            OR j.Status = @Status
        )

    ORDER BY

        CASE
            WHEN @Sort = 'oldest'
            THEN j.PostedDate
        END ASC,

        CASE
            WHEN @Sort = 'title_asc'
            THEN j.JobTitle
        END ASC,

        CASE
            WHEN @Sort = 'title_desc'
            THEN j.JobTitle
        END DESC,

        CASE
            WHEN @Sort = 'deadline'
            THEN j.ApplicationDeadline
        END ASC,

        CASE
            WHEN @Sort IS NULL
                OR @Sort = ''
                OR @Sort = 'newest'
            THEN j.PostedDate
        END DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[uspJobsGetActive]    Script Date: 9/30/2026 5:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspJobsGetActive]
    @Search NVARCHAR(200) = NULL,
    @Location NVARCHAR(200) = NULL,
    @JobType NVARCHAR(100) = NULL,
    @CategoryID INT = NULL,
    @Sort NVARCHAR(30) = 'newest'
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        j.JobID,
        j.CompanyID,
        j.CategoryID,
        j.JobTitle,
        j.Description,
        j.Location,
        j.JobType,
        j.PostedDate,
        j.ApplicationDeadline,
        j.Status,
        c.CompanyName,
        cat.CategoryName
    FROM Job j

    INNER JOIN Company c
        ON j.CompanyID = c.CompanyID

    INNER JOIN Category cat
        ON j.CategoryID = cat.CategoryID

    WHERE
        -- ONLY ACTIVE JOBS
        j.Status = 1

        -- SEARCH
        AND
        (
            @Search IS NULL
            OR LTRIM(RTRIM(@Search)) = ''
            OR j.JobTitle LIKE '%' + @Search + '%'
            OR j.Description LIKE '%' + @Search + '%'
            OR j.Location LIKE '%' + @Search + '%'
            OR c.CompanyName LIKE '%' + @Search + '%'
            OR cat.CategoryName LIKE '%' + @Search + '%'
        )

        -- LOCATION
        AND
        (
            @Location IS NULL
            OR LTRIM(RTRIM(@Location)) = ''
            OR j.Location LIKE '%' + @Location + '%'
        )

        -- JOB TYPE
        AND
        (
            @JobType IS NULL
            OR LTRIM(RTRIM(@JobType)) = ''
            OR j.JobType = @JobType
        )

        -- CATEGORY
        AND
        (
            @CategoryID IS NULL
            OR j.CategoryID = @CategoryID
        )

    ORDER BY

        CASE
            WHEN @Sort = 'oldest'
            THEN j.PostedDate
        END ASC,

        CASE
            WHEN @Sort = 'title_asc'
            THEN j.JobTitle
        END ASC,

        CASE
            WHEN @Sort = 'title_desc'
            THEN j.JobTitle
        END DESC,

        CASE
            WHEN @Sort = 'deadline'
            THEN j.ApplicationDeadline
        END ASC,

        CASE
            WHEN @Sort IS NULL
                OR @Sort = ''
                OR @Sort = 'newest'
            THEN j.PostedDate
        END DESC;
END;
GO
USE [master]
GO
